* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: deeppink;
    background: linear-gradient(black, grey);
}

p {
    position: absolute;
    z-index: -1;
    bottom: 10px;
    right: 10px;
    color: lime;
    font-size: 26px;
    font-family: 'Menlo';
    font-style: italic;
}
