* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: deeppink;
}

p {
    position: absolute;
    top: 0;
    left: 0;
    color: aqua;
    font-size: 26px;
    font-style: italic;
}
